<main>
  <div>
            
            <h1> LOGIN</h1>
            <hr>
            <p>Usuário</p>
            <input type="text" class="input-user" >
    
            <p>senha</p>
            <input type="text"  class="input-senha" >
    
            <input type="submit" value="Entrar" class="input-btn">
        </div>
    
        <div class="box-cadastre-se">
            <h3>Cadastre-se</h3>
            <p>Ainda não possui conta? cadastre-se no site</p>
            <input type="submit" value="Cadastro" class="input-btn">
        </div>
</main>