<!DOCTYPE html>
<html lang="Pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
 <title>Document</title>
</head>
<body>
  <section class="box-cabecalho">
    <div class="box-info">
        <img class="img-logo" src="assets/img/cat.png" alt="um gato de cabeça pra baixo" width="70px" height="70px">
    <a href="./login.handlebars">LOGIN</a>
    <a href="#">REGISTRAR</a>
    </div>
   
</section>
  {{{body}}}
</body>
</html>